{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
  <div class="row">
    <h1>Вот что я умею</h1>
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Python
        </li>
        <li class="list-group-item">
          Django
        </li>
      </ul>
    </aside>
    <article class="col-12 col-md-9">
      <p><h1>Гренки к пиву из черного хлеба с чесноком в духовке</h1>
        Вкусные и ароматные гренки к пиву получаются из черного хлеба с добавлением чеснока. Приготовьте закуску в духовке. Так она выйдет максимально хрустящей и привлекательной. <br>
        
        Время готовки: 15 минут <br>
        
        Время приготовления: 5 минут <br>
        
        Порций – 2 <br>
        
        Ингредиенты: <br>
        
        Хлеб черный – 0,5 шт.
        Чеснок – 4 зубчика.
        Зелень – по вкусу.
        Соль – по вкусу.
        Перец черный молотый – по вкусу.
        Масло растительное – 120 мл. <br>

        Процесс приготовления:<br>
        
        1. Кусочки черного хлеба разделываем небольшими брусочками.
        
        2. Выкладываем хлеб на противень и выпекаем 5 минут при температуре 200 градусов. В процессе продукт можно переворачивать.
        
        3. В это время измельчаем зелень и кладем их в глубокую миску.
        
        4. Сюда же кладем кусочки чеснока, соль и молотый черный перец.
        
        5. Заливаем продукты растительным маслом. Тщательно разминаем содержимое.
        
        6. Выкладываем подсушенный хлеб в глубокую миску.
        
        7. Поливаем продукт чесночной заправкой.
        
        8. Аккуратно перемешиваем угощение.
        
        9. Ароматные гренки с чесноком готовы. Подавайте их к столу с соусом!
      </p>
    </article>
  </div>
{% endblock %} 